.video-container {
  position: relative;
  width: 100%;
  max-width: 90%;
  padding-bottom: 56.25%;
  overflow: hidden;
  margin: -280px auto 0 auto;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* Tableau */
.tableauContainer {
  width: 100%;
  height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.tableauPlaceholder {
  width: 2000px; /* Set a wider width to enable horizontal scrolling */
  height: 100%;
  position: relative;
}

.tableauPlaceholder object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Cek PIRT */
.iframe-container {
  position: relative;
  width: 100%;
  height: 1200px;
  background: url(assets/images/dkk8.jpg);
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
}

/* FAQ */
.iframe-container {
  position: relative;
  width: 100%;
  height: 1200px;
  background: url(assets/images/dkk8.jpg);
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
}

.header-area {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: white;
}

.faq-section {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.faq-header {
  text-align: center;
  margin-bottom: 40px;
}

.faq-header h2 {
  font-size: 32px;
  font-weight: 700;
}

.faq-item {
  margin-bottom: 20px;
}

.faq-item h5 {
  font-size: 18px;
  font-weight: 600;
}

.faq-item p {
  margin: 0;
  text-align: justify;
}

.faq-item ul {
  margin: 0;
  padding-left: 20px;
  list-style-type: disc;
}
